* {
  box-sizing: border-box;
  text-align: left;
}

body {
  background: linear-gradient(to right, yellow, orange);
}

input {
  border: 1px solid black;
  border-radius: 3px;
  margin: 0px 0px;
  padding: 10px 5px;
  width: 250px;
  font: 2rem "Times New Roman";
}

.search-container {
 margin: 0;
 position: absolute;
 top: 30%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-size: 2rem;
}

.search-container .suggestions {
   position: absolute;
   width: 100%;
}

ul {
  list-style-type: none;
  margin: 0px 0px;
  padding: 10px 5px;
}
ul.has-suggestions {
  border: 1px solid black;
  border-radius: 3px;
  overflow: scroll;
  height: 500px;
}

ul li:hover {
  background-color: yellow;
}
